.bytes-ingested-wrapper {
  border: 1px solid #eee;
  padding: 2px;
  border-radius: 5px;
  background: white;
  transform: skew(20deg);
  /* transform: rotate(110deg) skew(20deg); */
}

.bytes-ingested-wrapper .parallelogram {
  width: 60px;
  height: 36px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgb(9, 189, 212); */
}

.bytes-ingested-wrapper .label {
  transform: skew(-20deg);
  color: #868181;
  font-size: 12px;
}
